<%= form_with model: book, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body, "Opinion" %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div class="form-group" id="post_rate" >
    <%= f.label :rate %>
    <%= f.hidden_field :rate, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
<script>
$(document).on('turbolinks:load', function () {
  $('#post_rate').empty();
  // scriptファイルをどのidの部分に配置するかを指定
  let elem = document.querySelector('#post_rate');
  let opt = {
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn :  '<%= asset_path('star-on.png') %>',
    scoreName: 'rate'
  };
  raty(elem,opt);
});
</script>
